header{
    height: 120px;
    background-color: #ffffff;
    color: white;
    border-bottom: 2px solid rgb(0, 0, 0);

}

header img{
    border-left: 10px;
    margin-top: 10px;
    height: 100px;
    align-items: center;
}

h1 {
    font-size: large;
}
h2 {
    font-size: medium;
}
h3 {
    font-size: small;
}