<div id="wrap">
  <div id="header">
    <div class="container">
      <div class="row"> 
        <div class="col"><app-header></app-header></div>
      </div>
    </div>
  </div>

  <div id="main">
    <div class="container">
      <div class="row"> 
        <div class="col">
          <main>
          <app-chatbar></app-chatbar>
          </main>
        </div>
      </div>
    </div>
  </div>

  <div id="footer">
    <div class="container">
      <div class="row"> 
        <div class="col"><app-footer></app-footer></div>
      </div>
    </div>
  </div>
</div>